

body {
  font-size: 12px;
  background: #ffdead;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  
  
}

.table-wrapper{
  padding: 5px;
  

}

table {
  border-collapse: collapse;
  margin: 20px 0px;
  
}

td, th {
  text-align: left;
  padding: 10px;
  border: 1px solid #061563;
  font-size: 1.2em;
}

th{
  text-transform: uppercase;
}

.button-container{
  display: flex;
  align-items: center;
  margin: 15px 0px;
}
button{
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2em;
  border: none;
}

button:disabled {
  background-color: darkgrey;
}

input[type="file"]{
  display: none;
}

.file-upload2{
  width: fit-content;
  margin: 10px 0px;
  font-size: 1.5em;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  background: indianred;
  padding: 10px;
}

.file-upload1{
  font-size: 2em;
  padding: 20px;
  border-radius: 10px;
  background: indianred;
  color: #ffffff;
}


